<!-- /.box -->
<!-- general form elements disabled -->
<div class="col-xs-11">
    <div class="box box-warning">
<div class="box-header with-border">
    <h3 class="box-title">Add Kegiatan Peserta</h3>
</div>
<!-- /.box-header -->
<div class="box-body">
    <form role="form" (ngSubmit)="postKegiatanPeserta(dataAdd)">
    <!-- text input -->
    <div class="form-group">
        <label>Kode Peserta</label>
        <input [(ngModel)]="dataAdd.KdPeserta" name="kodePeserta" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label>Kode Static Peserta</label>
        <input [(ngModel)]="dataAdd.KdStaticPeserta" name="kodeStatic" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label>Kode Kegiatan Peserta</label>
        <input [(ngModel)]="dataAdd.KdKegiatanPeserta" name="kodeKegiatan" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label>Tanggal Mulai</label>
        <div class="input-group date">
            <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
            </div>
            <input [(ngModel)]="dataAdd.TglMulai" name="tanggalStart" type="text" class="form-control pull-right" id="datepicker">
        </div>
    </div>
    <div class="form-group">
        <label>Tanggal Selesai</label>
        <div class="input-group date">
            <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
            </div>
            <input [(ngModel)]="dataAdd.TglSelesai" name="tanggalEnd" type="text" class="form-control pull-right" id="datepicker">
        </div>
    </div>
    <div class="form-group">
        <label>Kode Pegawai</label>
        <input [(ngModel)]="dataAdd.KdPegawai" name="kdPegawai" type="text" class="form-control">
    </div>
    <div class="box-footer">
        <button type="submit" class="btn btn-default" (click)="kegiatanPesertaBack()">Cancel</button>
        <button type="submit" class="btn btn-info pull-right">Add</button>       
    </div>        
</form>
</div>
<!-- /.box-body -->
</div>
</div>
<script>
$(function () {
      //Initialize Select2 Elements
    $(".select2").select2();
    $('#datepicker').datepicker({
        autoclose: true
    });
});
</script>
